html:lang(fa),
html:lang(ar) {
  .site--header .ant-row-rtl,
  .site--header .ant-space-rtl {
    direction: ltr;
  }

  .header__details--contentLeft .ant-space-rtl {
    .ant-space-item {
      &:not(:last-child) {
        margin-right: 24px;
        margin-left: 0 !important;
      }
    }
  }
}

.ant-layout-header.site--header {

  .header__bgColor {
    background-color: rgba(242, 6, 4, 0.7);
    //height: 226px;

    .header__topSection {
      .header__bgImage {
        content: "";
        background-image: url('../../../assets/images/topPanelBg.png');
        opacity: 0.61;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      .header__details {
        &:not(.scrolled) {
          padding: 0 15px;
        }

        .header__topSection--sticky {
          padding: 0 15px;
          transition: 0.5s all ease;                /* added unit */
          -moz-transition: 0.5s all ease;           /* added unit */
          -webkit-transition: 0.5s all ease;        /* added unit */
        }

        .header__topSection--sticky.scrolled {
          position: fixed;
          top: 0;
          z-index: 999;
          width: 100%;
          background-color: #F20604 !important;
          transition: 0.5s all ease-in-out;         /* added unit */
          -moz-transition: 0.5s all ease-in-out;    /* added unit */
          -webkit-transition: 0.5s all ease-in-out; /* added unit */
        }

        .search--bgOpacity,
        .share--bgOpacity {
          content: "";
          background-color: #FFFFFF;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          border-radius: 9px;
          opacity: 0.61;
        }

        .header__details--container {
          z-index: 1;
          .info--bgOpacity {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-image: repeating-linear-gradient(rgba(255,255,255,0.65) 0%, rgba(255,255,255,1) 65%, white 100%);
          }

          .info--img__container {
            width: 50px;
            height: 50px;
            background-color: #FFFFFF;
            line-height: 50px;
            border-radius: 8px;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

            img {
              width: 42px;
            }
          }

          .info--storeName,
          .flag-icon {
            font-size: 2rem;
          }

          .info--icon__title {
            font-size: 1.2rem;
          }

          .header__details--followBtn {
            width: 53px;
            padding: 0 !important;
            height: 27px;
            line-height: 20px;
            span {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  .header__bottomSection {
    margin-top: -7px;
    height: 55px;
    transition: 0.5s all ease;                /* added unit */
    -moz-transition: 0.5s all ease;           /* added unit */
    -webkit-transition: 0.5s all ease;        /* added unit */

    .header__bottomSection--container {
      padding: 0 15px;

      .header__tabContainer {
        .ant-tabs-nav {
          margin: 0 !important;
          &:before {
            border: 0;
            content: none;
          }

          .ant-tabs-nav-list {
            justify-content: space-between;
          }

          .ant-tabs-tab {
            .ant-tabs-tab-btn {
              color: #FFFFFF !important;
              font-size: 1.8rem;
              font-weight: 600;
              padding: 0 1.5rem;
            }
          }
          .ant-tabs-tab.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              font-weight: bold;
              text-shadow: none;
            }
          }

          .ant-tabs-ink-bar {
            height: 3px !important;
            background: #FFFFFF;
          }
        }
      }

      .header__bottomSection--searchShare {
        margin-top: 7px;
        height: 32px;
      }
      .header__bottomSection--search,
      .header__bottomSection--share {
        background-color: #FFFFFF;
        border-radius: 5px;
      }
    }
  }

  .header__bottomSection.scrolled {
    position: fixed;
    z-index: 999;
    animation: header__bottomSectionScrolled--animation 0.5s ease-in-out;
    transition: 0.5s all ease-in-out;         /* added unit */
    -moz-transition: 0.5s all ease-in-out;    /* added unit */
    -webkit-transition: 0.5s all ease-in-out; /* added unit */
    top: 49.61px;
    width: 100%;
  }

}

.ant-layout-header.site--header {
  /*height: calc(80px + 1.2rem);*/
  /*height: 226px;*/
  height: auto !important;
  line-height: unset;
  padding: 0;
}

@media (min-width: 768px) {
  .ant-layout-header.site--header {

    .header__bgColor {
      .header__topSection {
        .header__details {
          &:not(.scrolled) {
            padding: 0 3rem;
          }

          .header__details--container {
            .info--img__container {
              width: 100px;
              height: 100px;
              line-height: 100px;
              background-color: transparent;
              border-radius: 0;
              box-shadow: none;

              img {
                width: auto;
              }
            }

            .info--storeName,
            .flag-icon {
              font-size: 3rem;
            }

            .info--icon__title {
              font-size: 2rem;
            }

            .header__details--followBtn {
              width: 101px;
              height: 40px;
              span {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    .header__bottomSection {
      .header__bottomSection--container {
        padding: 0 3rem;

        .header__tabContainer {
          .ant-tabs-nav {
            .ant-tabs-tab {
              .ant-tabs-tab-btn {
                color: #FFFFFF !important;
                font-size: 2rem;
                font-weight: 600;
                padding: 0 1.5rem;
              }
            }
            .ant-tabs-tab.ant-tabs-tab-active {
              .ant-tabs-tab-btn {
                font-weight: bold;
                text-shadow: none;
              }
            }

            .ant-tabs-ink-bar {
              height: 3px !important;
              background: #FFFFFF;
            }
          }
        }
      }
    }

  }
}

@keyframes header__bottomSectionScrolled--animation {
  from {
    top: 0px;
  }
  to {
    top: 49.61px;
  }
}