html:lang(fa),
html:lang(ar) {

}

.footer--container {
  .footer--content {
    padding: 0 1.5rem;

    .ant-col {
      font-size: 1.4rem;
    }
  }
}


@media (min-width: 992px) {
  .footer--container {
    .footer--content {
      padding: 0 10rem;

      .ant-col {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
  }
}