// import Mixin:
@import '../../../../styles/Mixins';

.showVideoEmbed--content {

  embed {
    width: 100%;
  }

  &.homePage {
    embed {
      height: 230px;

      @media (min-width: @screen-md) {
        height: 790px;
      }
    }
  }

  &.aboutPage {
    embed {
      height: 150px;

      @media (min-width: @screen-md) {
        height: 320px;
      }
    }
  }
}