html:lang(fa),
html:lang(ar) {

}

.stats--section {
  margin-bottom: 2rem;
}

.shipProductsBanner--section.product--section {
  padding: 0 8px;
  margin-bottom: 4rem;
}

.topRankingProducts--section,
.PremiumFactories--section,
.recommended--section {
  margin-bottom: 2.5rem;
}

.visitsProducts--section {
  margin-bottom: 4rem;
}

.topBrands--section {
  margin-bottom: 2rem;
}

.whatHorn--section {
  margin-bottom: 5rem;
}

@media (min-width: 992px) {

  .shipProductsBanner--section.product--section {
    padding: 0 80px;
    margin-bottom: 4rem;
  }

  .topBrands--section {
    margin-bottom: 5rem;
  }
}