html:lang(fa),
html:lang(ar) {
  .topPanel--col > .ant-row-rtl,
  .topPanel--col .ant-space-rtl {
    direction: ltr;
  }

  .topPanel--col .ant-space-rtl {
    .ant-space-item {
      &:not(:last-child) {
        margin-right: 16px;
        margin-left: 0 !important;
      }
    }
  }

  .topPanel--content__right .ant-space-rtl {
    .ant-space-item {
      &:not(:last-child) {
        margin-right: 0.5px;
        margin-left: 0 !important;
      }
    }
  }

  .ant-collapse-arrow {
    right: unset !important;
    left: 0 !important;
    padding-top: 0 !important;
  }
}

.topPanel--container {
  height: 60px;

  .topPanel--col {
    padding: 0 18px;
    .topPanel--col__logoXS {
      img {
        width: 63px;
      }
    }
    .topPanel--col__titleXS {
      display: none;
    }
    .topPanel--col__btnRequest {
      .ant-btn {
        height: 32px;
        width: 145px;
        &:hover {
          border-color: darken(#A03033, 10%) !important;
        }
        span {
          font-size: 1.5rem!important;
        }
      }
    }
  }

  .topPanel--content__item {
    padding: .5rem .9rem;

    &.active {
      background-color: rgba(255, 255, 255, .3);
    }
    &.hover {
      &:hover {
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }

  .topPanel--content__left {

    .categories--dropDown {
      a {
        color: #FFFFFF !important;
      }
    }
  }

  .ant-space-item {
    color: #FFFFFF !important;
  }

  .ant-divider {
    height: 1.5rem;
  }

  .topPanel--item__text {
    font-size: 1.8rem;
  }

  .topPanel--content__right {
    text-align: right !important;
    .home-icon,
    .question-icon {
      &:hover {
        i {
          color: rgba(255, 255, 255, .3) !important;
        }
      }
    }
  }
}

.topPanel--container.TopPanelWhitBackIcon {
  height: 40px;
}


.topPanel--container.scrolled {
  position: sticky;
  top: 0;
  z-index: 999;
  animation: moveDown 0.5s ease-in-out;
  box-shadow: 0 0 2rem 1.5rem rgb(59, 48, 66);
  .topPanel--col {
    .topPanel--col__titleXS {
      display: block;
    }
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.topPanel--menuXs {
  .ant-drawer-content {
    .ant-drawer-body {
      padding: 0!important;
      height: 100%;
      .topPanel--menuXs__container {
        .topPanel--menuXs__topSection {
          .menuXs--bgTopSection__container {
            background: #003501;
            background-image: none;
            background-size: auto;
            background-image: url(../../../assets/images/sideNavBg.png);
            background-size: cover;
            height: 95px;

            .content--account__companyLogo {
              display: inline-block;
              background-color: #FFFFFF;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              img {
                border-radius: 50%;
                width: 100%;
              }
            }
          }
        }
        .topPanel--menuXs__middleSection {
          max-height: calc(100% - 70px);
          overflow-y: scroll;
          overflow-x: hidden;
          .menuXs--sideNavLinks__items {
            .menuXs--sideNavLinks__item {
              &:hover {
                i {
                  color: darken(@primary-color, 10%) !important;
                }
                span, .ant-collapse-header{
                  color: darken(#707070, 10%) !important;
                }
              }
            }
            .languagesCurrencyCollapse {
              .ant-collapse {
                .ant-collapse-item {
                  .ant-collapse-header {
                    padding: 0 !important;
                    color: #707070;
                    font-size: 1.6rem;
                    .ant-collapse-arrow {
                      right: 1px;
                      padding-top: 3px;
                      color: #bcbcbc !important;
                    }
                  }
                  .ant-collapse-content {
                    .ant-collapse-content-box {
                      padding-left: 0!important;
                      padding-right: 0!important;
                    }
                  }
                }
              }
            }
          }
          .menuXs--sideNavBtn__items {
            div {
              width: 100%;
            }
            a {
              height: 35px;
              line-height: 33px;
            }
          }
        }
        .topPanel--menuXs__bottomSection {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}

body.ant-scrolling-effect {
  .ant-layout-header,
  .ant-layout-content > .site-layout-content > * {
    overflow-y: hidden !important;
  }
}

@media (min-width: 992px) {
  .topPanel--container {
    height: 41px;
  }
}