html:lang(fa),
html:lang(ar) {
  .categoriesMultiColumn--container .ant-row-rtl {
    direction: ltr;
  }
}

.categoriesMultiColumn--container{
  .categoriesMultiColumn--item {
    cursor: pointer;
    .categoriesMultiColumn--icon .rounded-circle, .categoriesMultiColumn--img>img {
      height: 50px;
      width: 50px;
    }

    .categoriesMultiColumn--icon .rounded-circle i {
      line-height: 50px;
    }

    .categoriesMultiColumn--item__row {
      .categoriesMultiColumn--img,
      .categoriesMultiColumn--img .categoriesMultiColumn--img__wrapper {
        width: 50px;
        height: 50px;
      }

      .categoriesMultiColumn--img .categoriesMultiColumn--img__wrapper {
        display: inline-block;
      }

      .categoriesMultiColumn--img .categoriesMultiColumn--img__wrapper {
        border-radius: 50%;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.38);
      }

      .categoriesMultiColumn--img .categoriesMultiColumn--img__wrapper > img,
      .categoriesMultiColumn--img .categoriesMultiColumn--img__wrapper .ant-image-img {
        border-radius: 50%;
      }
    }
  }
  .categoriesMultiColumn--item.vv-cursor-pointer {
    &:hover {
      .categoriesMultiColumn--icon-title,
      i.fa-list-ul {
        color: darken(@primary-color, 10%) !important;
      }
      .categoriesMultiColumn--icon-title {
        font-weight: 600!important;
      }
    }
  }
}

@media (min-width: 768px) {
  .categoriesMultiColumn--container{
    .categoriesMultiColumn--item {
      .categoriesMultiColumn--icon .rounded-circle, .categoriesMultiColumn--img>img {
        height: 115px;
        width: 115px;
      }

      .categoriesMultiColumn--icon .rounded-circle i {
        line-height: 115px;
      }

      .categoriesMultiColumn--item__row {
        .categoriesMultiColumn--img,
        .categoriesMultiColumn--img .categoriesMultiColumn--img__wrapper {
          width: 115px;
          height: 115px;
        }
      }
    }
  }
}